<!doctype html>
<html>
  <head>
      <title>Quickpound</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="../style.css">
      <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">

  </head>
  <body>
