<%- include('header'); -%>
  <div class="container">
      <div class="jumbotron text-center">
          <h1>Quickpound</h1>
          <img src="img/default.png" alt="Quickpound Logo">
          <p>Login or Signup:</p>
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </div>
  </div>
<%- include('footer'); -%>
